@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 26, 32);
}


*{
font-family: 'Lora', serif;

}

.fontxxx{
  font-family: 'Yellowtail', cursive;
}